.SkillIcon {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 30px;
        height: 30px;
    }
}