body {
  background-color: #34495e;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
  }
}

html, body{
  height: 100%;
  scroll-behavior: smooth;
}